.center_list {
    position: relative;
    width: 1535px;
    height: 100%;
}

html {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.logo {
    box-sizing: border-box;
    position: absolute;
    width: 70.84px;
    height: 70.84px;
    left: 40px;
    top: 20px;
    background: #A61212;
    border-radius: 35.4188px 35.4188px 9px 35.4188px;
}

.navbar {
    position: absolute;
    width: 1535px;
    height: 111px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 26px 26px;
}

.menu-top {
    position: absolute;
    left: 152.34px;
    top: 34px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: cen;
    letter-spacing: 0.05em;
}

.navbar-1 {
    position: absolute;
    left: 565.98px;
    top: 50px;
}

.navbar-2 {
    position: absolute;
    left: 837px;
    top: 50px;
}

.navbar-3 {
    position: absolute;
    left: 1090px;
    top: 50px;
}

.navbar-4 {
    position: absolute;
    left: 1349px;
    top: 50px;
}

.text {
    position: relative;
    top: 154px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text1 {
    position: absolute;
    top: 260px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    justify-content: center;
}

.img1 {
    box-sizing: border-box;
    position: absolute;
    width: 971px;
    height: 413px;
    left: 550px;
    top: 417px;
    border-radius: 54px;
}

.text2 {
    position: absolute;
    width: 433px;
    height: 416px;
    left: 41px;
    top: 351px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 134.9%;
    display: flex;
    align-items: center;
}

.button_1 {
    position: absolute;
    width: 430px;
    height: 64px;
    left: 40px;
    top: 662px;
    background: #A61212;
    box-shadow: 0px 9px 35px rgba(0, 0, 0, 0.21);
    border-radius: 100px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.button_1 p {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.08em;
    color: #E5E5E5;
}

.button_2 {
    position: absolute;
    width: 430px;
    height: 73px;
    left: 40px;
    top: 757px;
    background: #A61212;
    box-shadow: 0px 9px 35px rgba(0, 0, 0, 0.21);
    border-radius: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.button_2 p {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.08em;
    color: #E5E5E5;
}

.new {
    position: relative;
    top: 941px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    justify-content: center;
}

.arrow-1 {
    cursor: pointer;
    height: 120px;
    width: 80px;
    left: 15px;
    top: 1280.27px;
    position: absolute;
    margin: 10px;
}

.arrow-1-top,
.arrow-1-bottom {
    background: #A61212;
    height: 7px;
    left: -30px;
    position: absolute;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    top: 60px;
    width: 50px;
}

.arrow-1-bottom {
    top: 68px;
}

.arrow-1-top {
    transform: rotate(135deg);
    transform-origin: bottom right;
}

.arrow-1-bottom {
    transform: rotate(-135deg);
    transform-origin: top right;
}

.arrow-1-top::after,
.arrow-1-bottom::after {
    background: rgb(83, 28, 28);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow-1-top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}

.arrow-1-bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}

.arrow-1:hover .arrow-1-top::after {
    left: 0;
    transition-delay: 0.15s;
}

.arrow-1:hover .arrow-1-bottom::after {
    right: 0;
    transition-delay: 0s;
}

.arrow-2 {
    cursor: pointer;
    height: 120px;
    width: 80px;
    left: 15px;
    top: 1280.27px;
    position: absolute;
    margin: 10px;
    left: 1420px;
}

.arrow-2-top,
.arrow-2-bottom {
    background: #A61212;
    height: 7px;
    left: -30px;
    position: absolute;
    top: 60px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    width: 50px;
}

.arrow-2-top {
    top: 54px;
}

.arrow-2-top {
    transform: rotate(-45deg);
    transform-origin: bottom right;
}

.arrow-2-bottom {
    transform: rotate(45deg);
    transform-origin: top right;
}

.arrow-2-top::after,
.arrow-2-bottom::after {
    background: rgb(83, 28, 28);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow-2-top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}

.arrow-2-bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}

.arrow-2:hover .arrow-2-top::after {
    left: 0;
    transition-delay: 0.15s;
}

.arrow-2:hover .arrow-2-bottom::after {
    right: 0;
    transition-delay: 0s;
}

.all_new {
    position: relative;
    width: 1477.45px;
    height: 477px;
    top: 1022px;
}

.new_block1 {
    position: absolute;
    width: 1211px;
    height: 126px;
}

.new_block_text1 {
    position: absolute;
    width: 1093px;
    height: 126px;
    left: 327px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #000000;
}

.new_block_date1 {
    position: absolute;
    width: 70px;
    height: 40px;
    left: 186px;
    top: 45px;
    background: #E5E5E5;
    border-radius: 10px
}

.new_block_date1_text1 {
    position: absolute;
    width: 68.66px;
    height: 40.45px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.line1 {
    position: absolute;
    width: 1305px;
    height: 1px;
    left: 100px;
    top: 157px;
    background-color: #A61212;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.new_block2 {
    position: absolute;
    width: 1211px;
    height: 126px;
    left: 186px;
    top: 148px;
}

.new_block_date2 {
    position: absolute;
    width: 70px;
    height: 40.45px;
    top: 70px;
    background: #E5E5E5;
    border-radius: 10px;
}

.new_block_date2_text1 {
    position: absolute;
    width: 68.66px;
    height: 40.45px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}

.new_block_text2 {
    position: absolute;
    width: 1093px;
    height: 126px;
    left: 140px;
    top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
}

.line2 {
    position: absolute;
    width: 1305px;
    height: 1px;
    left: 100px;
    top: 317px;
    background-color: #A61212;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.new_block3 {
    position: absolute;
    width: 1180px;
    height: 126px;
    left: 186px;
}

.new_block_date3 {
    position: absolute;
    width: 70px;
    height: 40.45px;
    top: 385px;
    background: #E5E5E5;
    border-radius: 10px;
}

.new_block_date3_text1 {
    position: absolute;
    width: 68.66px;
    height: 40.45px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.new_block_text3 {
    position: absolute;
    width: 1093px;
    height: 126px;
    left: 140px;
    top: 340px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
}

.report {
    position: relative;
    top: 1050px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.05em;
}

.all_report {
    position: absolute;
    width: 1477px;
    height: 602px;
    left: 30px;
    top: 1630px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.accordion {
    transform: translateZ(0);
    background: #FFFFFF;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.accordion > .accordion-toggle {
    display: none;
    position: absolute;
    opacity: 0;
}

.accordion > label {
    display: block;
    position: relative;
    height: 86px;
    margin-top: 20px;
    line-height: 50px;
    padding: 0 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background: #FFFFFF;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.accordion > label:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 20px;
    width: 12px;
    height: 12px;
    border-left: 2px solid #A61212;
    border-top: 2px solid #555;
    transform: rotate(-135deg);
    transition: 0.4s transform;
}

.accordion > section {
    overflow: hidden;
    height: 0;
    transition: all .4s;
}

.accordion > .accordion-toggle:checked ~ label:after {
    transform: rotate(45deg);
    top: 6px;
}

.accordion > .accordion-toggle:checked ~ section {
    height: 50px;
}

.accordion > section p {
    margin: 15px 0;
    padding: 0 20px;
}

label, p {
    font-family: 'Montserrat', sans-serif;
}

label, section, .accordion {
    border-radius: 10px;
}

.arrow-3,
.arrow-4,
.arrow-5,
.arrow-6,
.arrow-7 {
    cursor: pointer;
    height: 120px;
    width: 80px;
    top: -10px;
    left: 15px;
    position: absolute;
    margin: 10px;
    left: 1345px;
}

.arrow-3-top,
.arrow-3-bottom,
.arrow-4-top,
.arrow-4-bottom,
.arrow-5-top,
.arrow-5-bottom,
.arrow-6-top,
.arrow-6-bottom,
.arrow-7-top,
.arrow-7-bottom {
    background: #A61212;
    height: 7px;
    left: -30px;
    position: absolute;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    top: 60px;
    width: 50px;
}

.arrow-3-top,
.arrow-4-top,
.arrow-5-top,
.arrow-6-top,
.arrow-7-top {
    top: 52.8px;
    left: -39px;
}

.arrow-3-top,
.arrow-3-top,
.arrow-4-top,
.arrow-5-top,
.arrow-6-top,
.arrow-7-top {
    transform: rotate(135deg);
    transform-origin: bottom right;
}

.arrow-3-bottom,
.arrow-4-bottom,
.arrow-5-bottom,
.arrow-6-bottom,
.arrow-7-bottom {
    transform: rotate(45deg);
    transform-origin: top right;
}

.arrow-3-top::after,
.arrow-3-bottom::after,
.arrow-4-top::after,
.arrow-4-bottom::after,
.arrow-5-top::after,
.arrow-5-bottom::after,
.arrow-6-top::after,
.arrow-6-bottom::after,
.arrow-7-top::after,
.arrow-7-bottom::after {
    background: rgb(83, 28, 28);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow-3-top::after,
.arrow-3-top ::after,
.arrow-4-top::after,
.arrow-5-top::after,
.arrow-6-top::after,
.arrow-7-top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}

.arrow-3-bottom::after,
.arrow-4-bottom::after,
.arrow-5-bottom::after,
.arrow-6-bottom::after,
.arrow-7-bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}

.arrow-3:hover .arrow-3-top::after,
.arrow-4:hover .arrow-4-top::after,
.arrow-5:hover .arrow-5-top::after,
.arrow-6:hover .arrow-6-top::after,
.arrow-7:hover .arrow-7-top::after {
    left: 0;
    transition-delay: 0.15s;
}

.arrow-3:hover .arrow-3-bottom::after,
.arrow-4:hover .arrow-4-bottom::after,
.arrow-5:hover .arrow-5-bottom::after,
.arrow-6:hover .arrow-6-bottom::after,
.arrow-7:hover .arrow-7-bottom::after {
    right: 0;
    transition-delay: 0s;
}

.report1 {
    position: absolute;
    width: 1477px;
    height: 86px;
    top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.report1 p,
.report2 p,
.report3 p,
.report4 p,
.report5 p {
    position: absolute;
    left: 96px;
    top: 29px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-indent: 30px;
}

.report2 {
    position: absolute;
    width: 1477px;
    height: 86px;
    top: 200px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.report3 {
    position: absolute;
    width: 1477px;
    height: 86px;
    top: 300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.report4 {
    position: absolute;
    width: 1477px;
    height: 86px;
    top: 400px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.report5 {
    position: absolute;
    width: 1477px;
    height: 86px;
    top: 500px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.contacts {
    position: relative;
    top: 1750px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.05em;
}

.all_contacts {
    position: absolute;
    width: 1520px;
    height: 303px;
    top: 2500px;

}

.contacts1 {
    position: absolute;
    width: 300px;
    left: 170px;
    height: 27px;
    top: -28px;

}

.phone {
    position: absolute;
    top: 20px;
    width: 41px;
    height: 41px;
    background-image: url('/static/img/noun-phone-4770370 2.png');

}

.contacts1 a {
    position: absolute;
    width: 270px;
    height: 40px;
    top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #000000;
}

.contacts2 {
    position: absolute;
    width: 32px;
    height: 20px;
    left: 170px;
    top: 120px;
    border: 3px solid #A61212;
    border-radius: 5px;
}

.contacts2_line {
    display: inline-block;
    border: 17px solid transparent;
    border-top: 15px solid #A61212;
    position: relative;
    left: -1px;
}

.contacts2_line:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -15px;
    left: -15px;
    border: 15px solid transparent;
    border-top: 10px solid #FFF;
}

.contacts2 a {
    position: absolute;
    width: 325px;
    top: -5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-align: right;
    color: #000000;
}

.contacts3 {
    position: relative;
    top: -7px;
    align-items: center;
}

.contacts3 p {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    justify-content: center;

    text-decoration: none;
    color: #000000;
}

.contacts_work {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1115px;
    top: 110px;
    border-radius: 50%;
    border: 3px solid #A61212;
}

.contacts_work_line1 {
    position: absolute;
    width: 10px;
    height: 2px;
    left: 10px;
    top: 9px;
    background-color: #A61212;
    transform: rotate(90deg);
    border-radius: 20px;
}

.contacts_work_line2 {
    position: absolute;
    width: 10px;
    height: 2px;
    left: 13.5px;
    top: 17px;
    background-color: #A61212;
    transform: rotate(-135deg);
    border-radius: 20px;
}

.contacts_work a {
    position: absolute;
    width: 240px;
    height: 42px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align: right;
    text-decoration: none;
    color: #000000;
}

.contacts_location {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1115px;
    top: -7px;

}

.contacts_location a {
    position: absolute;
    width: 115px;
    height: 42px;
    top: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    align-items: center;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #000000;
}

.button_quest {
    position: relative;
    width: 350px;
    height: 64px;
    left: 580px;
    top: 65px;
    background: #A61212;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.21);
    border-radius: 100px;
}

.button_quest a {
    height: 65px;
    top: 15px;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.08em;
    text-decoration: none;
    color: #FFFFFF;
}

.button_help {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1408px;
    border-radius: 78px;
    background: #A61212;
    box-shadow: 0px 9px 35px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.button_help::before {
    content: "?";
    display: flex;
    justify-content: center;
    font-size: 62px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

.location {
    width: 22px;
    height: 22px;
    border-top: 3px solid #A61212;
    border-right: 3px solid #A61212;
    border-left: 3px solid #A61212;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 50%;
    position: relative;

}

.location::before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border: 3px solid #A61212;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 2px;
    transform: translateX(-50%);
    bottom: -40%;
}

.location_line {
    display: inline-block;
    border: 11px solid transparent;
    border-top: 19px solid #A61212;
    position: relative;
    left: 2.5px;
    top: -5px;
}

.location_line:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -22px;
    left: -10px;
    border: 10px solid transparent;
    border-top: 17px solid #FFF;
}

