
body {
    background: #F1F3F9;
    display: flex;
    justify-content: center;
}

.up {
    width: 1234px;
    height: 222px;
    margin: 63px 0 0 0;

    background: #F8F9FC;
    border-radius: 10px;
}

.main_text {

    width: 468px;
    height: 59px;
    top: 103px;
    margin-left: 36px;
    padding-top: 43px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    color: #000000;
}

.button1 {
    /* Rectangle 70 */
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 161px;
    height: 52px;
    top: 199px;
    margin-left: 37px;

    background: #FFFFFF;
    border:2px solid #878DF2;
    border-radius: 48px;
}

.template {
    position: absolute;
    width: 135px;
    height: 24px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 12px;

    color: #000000;
}

.button2 {
    box-sizing: border-box;

    position: absolute;
    width: 125px;
    height: 52px;
    margin-left: 219px;
    top: 199px;

    background: #FFFFFF;
    border-radius: 48px;
}

.info {
    position: absolute;
    width: 41px;
    height: 20px;
    margin-left: 12px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}

.button3 {

    box-sizing: border-box;

    position: absolute;
    width: 161px;
    height: 52px;
    margin-left: 365px;
    top: 199px;

    background: #FFFFFF;
    border-radius: 48px;

}

.color {
    position: absolute;
    width: 135px;
    height: 24px;
    margin-left: 12px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.button4 {
    box-sizing: border-box;

    position: absolute;
    width: 206px;
    height: 52px;
    margin-left: 547px;
    top: 199px;

    background: #FFFFFF;
    border-radius: 48px;
}

.content {
    position: absolute;
    width: 135px;
    height: 24px;
    margin-left: 12px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.button5 {
    box-sizing: border-box;
    position: absolute;
    width: 114px;
    height: 52px;
    margin-left: 1099px;
    top: 199px;
    background: #FFFFFF;
    border-radius: 48px;
    border: 0 solid #000000;
}

.down{
    width: 1234px;
    height: 524px;
    background: #F1F3F9;
    margin-top: 25px;
}

.block1 {
    position: absolute;
    width: 368px;
    height: 524px;


    background: #F8F9FC;
    border-radius: 11.2076px;
}

.block2 {

    position: absolute;
    width: 368px;
    height: 524px;
    margin-left: 436px;


    background: #F8F9FC;
    border-radius: 11.2076px;
}

.block3 {
    position: absolute;
    width: 368px;
    height: 524px;
    margin-left: 866px;


    background: #F8F9FC;
    border-radius: 11.2076px;
}

.tem1{
    margin: 16px 16px 15px 16px;
    position: absolute;
    width: 336px;
    height: 493px;
}

.tem2{
    margin: 16px 16px 15px 16px;
    position: absolute;
    width: 336px;
    height: 493px;
}

.tem3{
    margin: 16px 16px 15px 16px;
    position: absolute;
    width: 336px;
    height: 493px;
}

.rad > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.rad > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}

.rad > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:1px solid #878DF2;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 15px rgba(135, 141, 242, 0.5));

}