<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap">
    <title>Document</title>
</head>
<body>
<form method="post" action={% url 'take_color' %}>
    {% csrf_token %}
    <div class="up">
        <p class="main_text">Выберите шаблон</p>
        <div class="button1"><p class="template">Шаблон</p></div>
        <div class="button2"><p class="color">Цвет</p></div>
        <div class="button3"><p class="content">Контент</p></div>
        <div class="button4"><p class="info">Информация</p></div>
        <button class="button5"><a href="{% url 'take_color' %}"><img class="arr" src="../constructor/static/img/Arrow3.svg"></a></button>
    </div>
    <div class="down">
        <div class="block1">
            <label class="rad">
                <input type="radio" name="r1" checked="checked" value="small"/><img class="tem1" src="{% static 'img/template1.png' %}">
            </label>
        </div>
        <div class="block2">
            <label class="rad">
                <input type="radio" name="r1" value="small"/><img class="tem2" src="{% static 'img/template2.png' %}">
            </label>
        </div>
        <div class="block3">
            <label class="rad">
                <input type="radio" name="r1" value="small"/><img class="tem3" src="{% static 'img/template3.png' %}">
            </label>
        </div>
    </div>
</form>
</body>
</html>
