<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_final_page.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap">
    <title>Document</title>
</head>
<body>
<p class="main">Сайт успешно создан!</p>
<img src="../constructor/static/img/cloud.svg">
<form method="post" action="{% url 'template_uc' %}">
    {% csrf_token %}
    <input type="hidden" name="r1" value="{{ site.template }}">
    <input type="hidden" name="site_id" value="{{ site.id }}">
    <button class="button1">

                    <a href="{% url 'template_uc' %}" class="but1">Продолжить</a>
    </button>
    <button class="button2">
        Главная
        {# <a href="{% url 'index' %}" style="text-decoration: none" class="but2">Главная</a>#}
    </button>

</form>
</body>
</html>

