<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_image_page.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap">
    <title>Document</title>
{#    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</head>
<body>
<form method="post" enctype="multipart/form-data" action={% url 'take_info' %} >
    {% csrf_token %}
    <input type="hidden" name="r1" value="{{ curr }}">
        <div class="up">
            <p class="main_text">Загрузите изображения</p>
            <div class="button1"><a href="{% url 'index' %}" style="text-decoration: none" class="template">Шаблон</a></div>
            <div class="button2"><a href="{% url 'take_color' %}" style="text-decoration: none" class="color">Цвет</a></div>
            <div class="button3"><p class="content">Контент</p></div>
            <div class="button4"><p class="info">Информация</p></div>
            <button class="button5"><a href="{% url 'take_info' %}"><img class="arr"
                                                                         src="../constructor/static/img/Arrow3.svg"></a>
            </button>
        </div>
    <div class="down">
            <div class="download_logo">
                <input type="file" id="file-input-logo" class="inputfile" name="fileLogo"  accept=".jpg, .png">
                <p class="text" id="feedback1"><img src="../constructor/static/img/download_logo.svg" align="center"><label
                        for="file-input-logo">Загрузить логотип</label>
                </p>
            </div>
            <div class="download_banner">
                <input type="file" id="file-input-banner" class="inputfile" name="fileBanner" accept=".jpg, .png">
                <p class="text" id="feedback2"><img src="../constructor/static/img/download_logo.svg" align="center"><label
                        for="file-input-banner">Загрузить баннер</label>
                </p>
            </div>
        <div class="preview">
            <iframe src="{% url 'template_uc' %}?param={{ curr }}&param_color={{ color }}&param_bg_color={{ background_color }}" height="652px" width="627px" scrolling="yes" frameborder="1"></iframe>
        </div>
    </div>
</form>
</body>
</html>
