<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_color_page.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap">
    <title>Document</title>
</head>
<body>
<form method="">
    <div class="up">
        <p class="main_text">Выберите цвет</p>
        <div class="button1"><a href="{% url 'index' %}" style="text-decoration: none" class="template">Шаблон</a></div>
        <div class="button2"><p class="color">Цвет</p></div>
        <div class="button3"><p class="content">Контент</p></div>
        <div class="button4"><p class="info">Информация</p></div>
        <div class="button5"><a href="{% url 'take_images' %}"><img class="arr" src="../constructor/static/img/Arrow3.svg"></a>
        </div>
    </div>
    <div class="down">
        <div class="rect">
            <label class="rad">
                <input type="radio" name="r2" checked="checked" value="small"/><img class="color1" src="{% static 'img/color1.svg' %}">
            </label>

            <label class="rad">
                <input type="radio" name="r2" value="small"/><img class="color2" src="{% static 'img/color2.svg' %}">
            </label>

            <label class="rad">
                <input type="radio" name="r2" value="small"/><img class="color3" src="{% static 'img/color3.svg' %}">
            </label>

            <label class="rad">
                <input type="radio" name="r2" value="small"/><img class="color4" src="{% static 'img/color4.svg' %}">
            </label>
        </div>
        <div class="preview">
            {{ r }}
        </div>
    </div>
</form>
</body>
</html>