<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="referrer" content="origin"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1170">
    <link href="{% static 'css/style_template_uc3.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        @import url({% static 'fonts/stolzl_regular.otf' %});
        @import url({% static 'fonts/stolzl_light.otf' %});
        @import url({% static 'fonts/stolzl_bold.otf' %});
        @import url({% static 'fonts/stolzl_book.otf' %});
        @import url({% static 'fonts/stolzl_medium.otf' %});
        @import url({% static 'fonts/stolzl_thin.otf' %});
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
    </style>
    <title>{{ site.company.name }}</title>
</head>
<body>
<div class="center_list">
    <header>
        <div class="logo">
            {% if site.logo %}
            <img src="{{ site.logo.url }}" width="52px" height="52px">
            {% endif %}
        </div>
        <div class="menu_top">
            <ul>
                <li><a style="text-decoration: none; " class="up_name" href="#info"> О КОМПАНИИ</a></li>
                <li><a style="text-decoration: none; " class="up_name" href="#news" > НОВОСТИ</a></li>
                <li><a style="text-decoration: none; " class="up_name" href="#report"> ОТЧЕТНОСТЬ</a></li>
                <li><a style="text-decoration: none; " class="up_name" href="#contacts"> КОНТАКTЫ</a></li>
            </ul>
        </div>
        <style>.block_1_contacts_button_quest, .block_1_contacts_button_accounts_statement, .contacts_quest_button, .button_help{background-color: #{{ site.colors }};}</style>
        <style>.contacts_line, .block_2_line{background: #{{ site.colors }};}</style>
        <style>.contacts_work_line1, .contacts_work_line2{background-color: #{{ site.colors }};}</style>
        <style>.contacts_work{border: 3px solid #{{ site.colors }}}</style>
        <style>.arrow-1-bottom, .arrow-2-bottom{background-color: #{{ site.colors }};}</style>
        <style>.arrow-1-top, .arrow-2-top{background-color: #{{ site.colors }};}</style>
        <style>.location, .location::before{border: 3px solid #{{ site.colors }}}</style>
        <style>.location_line{border-top: 19px solid #{{ site.colors }}}</style>
        <style>.new_block_date2_text1, .new_block_date1_text1, .new_block_date3_text1{color: #{{ site.colors }};}</style>
        <style>.new_block_date2, .new_block_date1, .new_block_date3{border: 1px solid #{{ site.colors }};}</style>
        <style>body{background: #{{ site.bg_colors }};}</style>
        <style>.logo{background: #{{ site.colors }}</style>
        <style>.accordion{border-bottom: 1px solid #{{ site.colors }}}</style>
        <style>.accordion, .accordion>label:after{border-left: 1px solid #{{ site.colors }};}</style>
        <style>.accordion{border-right: 1px solid #{{ site.colors }}}</style>
        <style>.accordion, .accordion>label:after{border-top: 1px solid #{{ site.colors }};}</style>
    </header>
    <div class="block_1" id="info">
        <p>УПРАВЛЯЮЩАЯ КОМПАНИЯ "{{ site.company.name }}"</p>
        <div class="block_1_contacts">
            <div class="bloclk_1_text_contacts">КОНТАКTЫ</div>
            <ul>
                <li><a>+7 999 999-99-99</a></li>
                <li><a>example@example.ru</a></li>
            </ul>
            <div class="block_1_contacts_button_quest"><a href="#">Задать вопрос</a></div>
            <div class="block_1_contacts_button_accounts_statement"><a href="#">Передать показания приборов учета</a>
            </div>
        </div>

        <div class="block_1_img">
            {% if site.banner %}
            <img src="{{ site.banner.url }}" width="750" height="350">
            {% else %}
                <img src="{% static 'img/Rectangle 7.jpg' %} " width="750" height="350">
            {% endif %}
            <p>Добро пожаловать на наш официальный сайт! Изучайте актуальную информацию ТСЖ, новости и объявления.</p>
            <div class="block_1_vector1"></div>
            <div class="block_1_vector2"></div>
        </div>
    </div>
    <div class="block_2">
        <p>Предоставляем полный спектр услуг по профессиональному управлению и техническому обслуживанию жилищного
            фонда.</p>
        <hr class="block_2_line"/>
    </div>
    <div class="block_3" id="news">
        <p class="block_3_new">НОВОСТИ</p>
        <div class="new_block1">
            <div class="new_block_date1"><p class="new_block_date1_text1">01.01.01</p></div>
            <p class="new_block_text1">текст новости текст новости текст новости текст новости текст новости </p>
        </div>
        <div class="line_new_block1"></div>
        <div class="new_block2">
            <div class="new_block_date2"><p class="new_block_date2_text1">01.01.01</p></div>
            <p class="new_block_text2">текст новости текст новости текст новости текст новости текст новости </p>
        </div>
        <div class="line_new_block2"></div>
        <div class="new_block3">
            <div class="new_block_date3"><p class="new_block_date3_text1">01.01.01</p></div>
            <p class="new_block_text3">текст новости текст новости текст новости текст новости текст новости </p>
        </div>
        <div class="arrow-1">
            <div class="arrow-1-top"></div>
            <div class="arrow-1-bottom"></div>
        </div>
        <div class="arrow-2">
            <div class="arrow-2-top"></div>
            <div class="arrow-2-bottom"></div>
        </div>
    </div>
    <div class="block_4">
        <p class="block_4_report" id="report">ОТЧЕТНОСТЬ</p>
        <div class="all_report">
            <br><br><br><br><br>
            <div class="accordion">
                <input id="toggle1" type="radio" class="accordion-toggle" name="toggle"/>
                <label for="toggle1">Общая информация об УК</label>
                <section>
                    <p>Контакты - {{ contacts }}</p>
                </section>
                <section>
                    <p>ИНН - {{ site.company.inn }}</p>
                </section>
                <section>
                    <p>Полное наименование - {{ site.company.name }}</p>
                </section>
                <section>
                    <p>ОГРН - {{ site.company.ogrn }}</p>
                </section>
                <section>
                    <p>Генеральный директор - {{ site.company.director }}</p>
                </section>
                <section>
                    <p>Юридический адрес - {{ site.company.address }}</p>
                </section>
            </div>

            <div class="accordion">
                <input id="toggle2" type="radio" class="accordion-toggle" name="toggle"/>
                <label for="toggle2">Дома в управлении</label>
                <section>
                    <a class="houses_info" href="{% url 'show_houses' %}">Дома в управлении </a>
                </section>
            </div>
        </div>
    </div>
    <hr class="contacts_line"/>
    <div class="contacts">
        <p>КОНТАКTЫ</p>
        <div class="contacts_block1" id="contacts"><p>"Самая лучшая"</p></div>
        <div class="contacts1">
            <div class="phone"></div>
            <a>+7 999 999-99-99</a>
        </div>
        <div class="contacts2">
            <div class="contacts2_line"></div>
            <a>example@example.ru</a>
        </div>
        <div class="contacts_work">
            <div class="contacts_work_line1"></div>
            <div class="contacts_work_line2"></div>
            <a>Режим работы</a>
        </div>
        <div class="contacts_location">
            <div class="location"></div>
            <div class="location_line"></div>
            <a>Адрес</a>
        </div>
        <div class="contacts_quest_button"><a href="#">Задать вопрос</a></div>
        <div class="contacts_help_button">
            <div class="contscts_help_quest"></div>
        </div>
        <a class="button_help" href="#"></a>
    </div>
</div>
</body>
</html>