<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta name="referrer" content="origin"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_uc1.css' %}"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
    </style>
    <title>Template1</title>

</head>


<body>

<div class="back1"></div>
<div class="navbar"></div>
<div class="back2"></div>
<div class="back3"></div>


<header class="logo"></header>
<div class="menu-top">
    <ul> НАЗВАНИЕ УК</ul>
</div>

<div>
    <ul>
        <div class="navbar-1"> О КОМПАНИИ</div>
        <div class="navbar-2"> НОВОСТИ</div>
        <div class="navbar-3"> ОТЧЕТНОСТЬ</div>
        <div class="navbar-4"> КОНТАКТЫ</div>
    </ul>
</div>

<div class="text">Управляющая компания “Самая лучшая”</div>
<div class="text2">Добро пожаловать на наш официальный сайт! Изучайте актуальную информацию ТСЖ, новости и объявления.
</div>
<div class="img1"></div>

<div class="text3"> Предоставляем полный спектр услуг по профессиональному управлению и техническому обслуживанию
    жилищного фонда.
</div>

<div class="button_1">
    <div class="button1_text"><a href="#">Задать вопрос</a></div>

</div>
<div class="button_2">
    <div class="button2_text"><a href="#">Передать показания приборов учета</a></div>
</div>

<div class="new_vector1"><a href="#"></a></div>
<div class="new_vector2"><a href="#"></a></div>

<div class="new">НОВОСТИ</div>


<div class="all_new">

    <div class="new_block1">
        <div class="new_block_date1">
            <div class="new_block_date1_text1">01.01.01</div>
        </div>


        <div class="new_block_text1">текст новости текст новости текст новости текст новости текст новости</div>


    </div>
    <div class="line1"></div>
    <div class="new_block2">
        <div class="new_block_date2">
            <div class="new_block_date2_text1">01.01.01</div>
        </div>

        <div class="new_block_text2">текст новости текст новости текст новости текст новости текст новости</div>

    </div>
    <div class="line2"></div>


    <div class="new_block3">
        <div class="new_block_date3">
            <div class="new_block_date3_text1">01.01.01</div>
        </div>


        <div class="new_block_text3">текст новости текст новости текст новости текст новости текст новости</div>


    </div>
</div>

<div class="report"> ОТЧЕТНОСТЬ</div>
<div class="all_report">

    <div class="report1">
        <div class="vector_report1"><a href="#"></a></div>
        <div class="report1_text">Общая информация об УК</div>
    </div>

    <div class="report2">
        <div class="vector_report2"><a href="#"></a></div>
        <div class="report2_text">Дома в управлении</div>
    </div>


    <div class="report3">
        <div class="vector_report3"><a href="#"></a></div>
        <div class="report3_text">Тарифы на услуги</div>
    </div>

    <div class="report4">
        <div class="vector_report4"><a href="#"></a></div>
        <div class="report4_text">Финансовая отчетность</div>
    </div>

    <div class="report5">
        <div class="vector_report5"><a href="#"></a></div>
        <div class="report5_text">Информация об общем имуществе</div>
    </div>
</div>
<div class="back_contacts"></div>
<div class="contacts">КОНТАКТЫ</div>
<div class="all_contacts">

    <div class="contacts1">
        <div class="phone">
            <div class="number"><a href="#">+7 999 999-99-99</a></div>
        </div>

    </div>

    <div class="contacts2">
        <div class="contacts2_text"><a href="#">example@example.ru</a></div>

    </div>

    <div class="contacts3">
        <div class="contacts3_text"><a href="#">Самая лучшая</a></div>

    </div>
    <div class="contacts_work">
        <div class="contacts_work_text"><a href="#">Режим работы</a></div>

    </div>

    <div class="contacts_location">
        <div class="contacts_location_text"><a href="#">Адрес</a></div>

    </div>

    <div class="button_quest">
        <div class="button_quest_text"><a href="#">Задать вопрос</a></div>

    </div>

</div>
</body>


</html>