<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="referrer" content="origin"/>
	<meta charset="UTF-8">
	<meta name ="viewport" content="width=1170">
	<link href="{% static 'css/style_template_uc2.css' %}" rel="stylesheet" type="text/css" />
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Poiret+One&display=swap');
	</style>
    <title>{{ site.company.name }}</title>
</head>
<body>
	<header>
		<div class="logo" >
            {% if site.logo %}
            <img class="imageLogo" src="{{ site.logo.url }}" width="52px" height="52px">
            {% endif %}
        </div>
		<div class="menu_top">
			<ul>
			<li> О КОМПАНИИ</li>
			<li> НОВОСТИ </li>
			<li > ОТЧЕТНОСТЬ </li>
			<li> КОНТАКTЫ </li>
			</ul>
		</div>
        <style>.button_quest{background-color: #{{ site.colors }}}</style>
		<div class="button_quest"><a href="#">Задать вопрос</a></div>
        <style>.button_accounts_statement{border: 1.5px solid #{{ site.colors }};}</style>
        <style>.button_accounts_statement a{color: #{{ site.colors }};}</style>
        <style>.new_block_date2_text1, .new_block_date1_text1, .new_block_date3_text1{color: #{{ site.colors }};}</style>
        <style>.new_block_date2, .new_block_date1, .new_block_date3{border: 1px solid #{{ site.colors }};}</style>
        <style>.contacts_line{border: 3px solid #{{ site.colors }};}</style>
        <style>.contacts_quest_button{background: #{{ site.colors }};}</style>
        <style>body{background: #{{ site.bg_colors }};}</style>
        <style>.logo{background: #{{ site.colors }}</style>

		<div class="button_accounts_statement"><a href="#">Передать показания счета</a></div>
	</header>

	<div class="upper_block">
		<a>{{ site.company.name }}</a>
		<div class="upper_block_text">Добро пожаловать на наш официальный сайт! Изучайте актуальную информацию  ТСЖ, новости и объявления.</div>
		<div class="upper_block_img">
            {% if site.banner %}
            <img class="imageBanner"  src="{{ site.banner.url }}">
            {% else %}
                <img class="imageBanner" src="{% static 'img/Rectangle 7.jpg' %}">
            {% endif %}
			<div class="upper_block_vector1"></div>
			<div class="upper_block_vector2"></div>
		</div>
	</div>
	
	<div class="block_2">
		<div class="block_2_text"><a>Предоставляем полный спектр услуг по профессиональному управлению и техническому обслуживанию жилищного фонда.</a></div>
		<div class="block_2_appeal"> <div class="appeal_button">
			<div class="button_block_2"><a href="#">Написать обращение</a></div>
		</div></div>
	</div>   
	
	<div class="new_block">
		<div class="new_text">НОВОСТИ</div>
		
		<div class="new_block1"> 
			<div class="new_block_date1"><div class="new_block_date1_text1">01.01.01</div></div>
	<div class="new_block_text1">текст новости текст новости текст новости текст новости текст новости </div>		
		
		</div>

		<div class="line_new_block1"></div>

		<div class="new_block2"> 
				<div class="new_block_date2"><div class="new_block_date2_text1">01.01.01</div></div>
				<div class="new_block_text2">текст новости текст новости текст новости текст новости текст новости </div>		
				
		</div>
		<div class="line_new_block2"></div>

		<div class="new_block3"> 
				<div class="new_block_date3"><div class="new_block_date3_text1">01.01.01</div></div>
				<div class="new_block_text3">текст новости текст новости текст новости текст новости текст новости </div>		
				

		</div>	
		<div class="new_block_elipse1">
			<div class="new_block_vector1"></div>
		</div>

		<div class="new_block_elipse2">
			<div class="new_block_vector2"></div>
		</div>
	</div>
    <p class="report"> ОТЧЕТНОСТЬ</p>
	<div class="all_report">
        <br><br><br><br><br>
        <div class="accordion">
            <input id="toggle1" type="radio" class="accordion-toggle" name="toggle"/>
            <label for="toggle1">Общая информация об УК</label>
            <section>
                <p>Контакты - {{ contacts }}</p>
            </section>
            <section>
                <p>ИНН - {{ site.company.inn }}</p>
            </section>
            <section>
                <p>Полное наименование - {{ site.company.name }}</p>
            </section>
            <section>
                <p>ОГРН - {{ site.company.ogrn }}</p>
            </section>
            <section>
                <p>Генеральный директор - {{ site.company.director }}</p>
            </section>
            <section>
                <p>Юридический адрес - {{ site.company.address }}</p>
            </section>
        </div>

        <div class="accordion">
            <input id="toggle2" type="radio" class="accordion-toggle" name="toggle"/>
            <label for="toggle2">Дома в управлении</label>
            <section>
                <a class="houses_info" href="{% url 'show_houses' %}">Дома в управлении </a>
            </section>
        </div>
    </div>
	<div class="contacts_fon"> </div>
<div class="contacts">
	<a>КОНТАКTЫ</a>
	<div class="contacts_block1">"Самая лучшая"</div>
	<div class="contacts_phone"><a >+7 999 999-99-99</a></div>
	<div class="contacts_clock"><a>Режим работы </a></div>
	<div class="contacts_email"><a>example@example.ru</a> </div>
	<div class="contacts_location"><a>Адрес - {{ site.company.address }}</a></div>
	<div class="contacts_line"></div>
	<div class="contacts_quest_button"><a href="#">Задать вопрос</a></div>
	<div class="contacts_help_button"> <div class="contacts_help_quest"></div></div>
</div>	
</body >
</html>