<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="referrer" content="origin"/>
	<meta charset="UTF-8">
	<meta name ="viewport" content="width=1170">
	<link href="{% static 'css/style_uc1.css' %}" rel="stylesheet" type="text/css" />
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
		</style>
    <title>Template1</title>
</head>


<body>
<div class="center_list">
<div class="navbar">
	<div class="logo"></div>
	<div class="menu-top">
		<ul> НАЗВАНИЕ УК </ul>
	</div>

	<div >
		<ul >
			<div class="navbar-1"> О КОМПАНИИ</div>
			<div class="navbar-2"> НОВОСТИ </div>
			<div class="navbar-3"> ОТЧЕТНОСТЬ </div>
			<div class="navbar-4"> КОНТАКТЫ </div>
		</ul>
	</div>
</div>
		<p class="text">Управляющая компания “Самая лучшая”</p>
		<p class="text1">Добро пожаловать на наш официальный сайт! Изучайте актуальную информацию ТСЖ, новости и объявления.</p>
		<div class="img1"></div>
		<p class="text2"> Предоставляем полный спектр услуг по профессиональному управлению и техническому обслуживанию жилищного фонда.</p>

<a class="button_1" href="#">
	<p>Задать вопрос</p>
</a>
<a class="button_2" href="#">
	<p>Передать показания приборов учета</p>
</a>
<p class="new">НОВОСТИ</p>
<div class="all_new">

	<div class="new_block1">
		<div class="new_block_date1">
			<p class="new_block_date1_text1">01.01.01</p>
		</div>
			<p class="new_block_text1">текст новости текст новости текст новости текст новости текст новости </p>
	</div>

	<div class="line1">
	</div>

	<div class="new_block2">
		<div class="new_block_date2">
			<p class="new_block_date2_text1">01.01.01</p>
		</div>
		<p class="new_block_text2">текст новости текст новости текст новости текст новости текст новости </p>
	</div>

	<div class="line2">
	</div>

	<div class="new_block3">
	<div class="new_block_date3">
		<p class="new_block_date3_text1">01.01.01</p>
	</div>
		<p class="new_block_text3">текст новости текст новости текст новости текст новости текст новости </p>
	</div>
</div>
<div class="arrow-1">
    <div class="arrow-1-top"></div>
    	<div class="arrow-1-bottom"></div>
</div>
<div class="arrow-2">
    <div class="arrow-2-top"></div>
    	<div class="arrow-2-bottom"></div>
</div>

<p class="report"> ОТЧЕТНОСТЬ</p>

<div class="all_report">
	<br><br><br><br><br>
	<div class="accordion">
		<input id="toggle1" type="radio" class="accordion-toggle" name="toggle" />
			<label for="toggle1">Общая информация об УК</label>
				<section>
					<p>Контакты - </p>
						</section>
							<section>
								<p>ИНН - </p>
									</section>
										<section>
											<p>КПП - </p>
												</section>
													<section>
												<p>Полное наименование - </p>
											</section>
										<section>
									<p>ОГРН - </p>
								</section>
							<section>
						<p>Генеральный директор - </p>
					</section>
				<section>
			<p>Юридический адрес - </p>
		</section>
	</div>

	<div class="accordion">
		<input id="toggle2" type="radio" class="accordion-toggle" name="toggle" />
			<label for="toggle2">Дома в управлении</label>
				<section>
			<p>Дома в управлении</p>
		</section>
	</div>
	<div class="accordion">
		<input id="toggle3" type="radio" class="accordion-toggle" name="toggle" />
			<label for="toggle3">Тарифы на услуги</label>
				<section>
			<p>Текст 3</p>
		</section>
	</div>
	<div class="accordion">
		<input id="toggle4" type="radio" class="accordion-toggle" name="toggle" />
			<label for="toggle4">Финансовая отчетность</label>
				<section>
			<p>Текст 4</p>
		</section>
	</div>
	<div class="accordion">
		<input id="toggle5" type="radio" class="accordion-toggle" name="toggle" />
			<label for="toggle5">Информация об общем имуществе</label>
				<section>
			<p>Текст 4</p>
		</section>
	</div>
</div>
<p class="contacts">КОНТАКТЫ</p>
<div class="all_contacts">

	<div class="contacts1">
		<div class="phone"></div>
			<a href="#">+7 999 999-99-99</a>
	</div>


	<div class="contacts2">
			<div class="contacts2_line"></div>
					<a href="#">example@example.ru</a>

	</div>

	<div class="contacts3">
		<p href="#">Самая лучшая</p>

	</div>
	<div class="contacts_work">
		<div class="contacts_work_line1"></div>
			<div class="contacts_work_line2"></div>
			<a href="#">Режим работы</a>
	</div>

	<div class="contacts_location">
		<div class="location"></div>
		<div class="location_line"></div>
		<a href="#">Адрес</a>
	</div>

	<div class="button_quest">
		<a href="#">Задать вопрос</a>
	</div>
	<a class="button_help" href="#"></a>

	</div>
</div>
</body >


</html>